name: Cache Workflow

on:
  push:

jobs:
  cache-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.cache
          key: cache-d405ea5

      - name: prime-cache-d405ea5
        run: echo "Cache hit? ${{ steps.cache-step.outputs.cache-hit }}"
